@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #1663df;
    --secondary: #1d79f3;
    --tertiary: #1a468e;
    --light: #eef8ff;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    background: var(--light);
    display: flex;
    flex-direction: column;
}

header {
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--light);
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link {
    margin-right: 40px;
    color: var(--light);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--tertiary);
}

a {
    text-decoration: none;
}

img.principal-1 {
    width: 100%;
}

strong {
    font-weight: 700;
}

.container-quienes-somos {
    max-width: 1120px;
}

.container-quienes-somos p {
    font-size: 20px;
    line-height: 30px;
}

section.quienes-somos {
    display: flex;
    justify-content: center;
    margin: 20px 10px 40px 10px;
}

#Somos, #Servicios, #Contacto, #Clientes {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}

.container-nuestros-servicios {
    background: var(--tertiary);
    padding: 20px 10px 20px 10px;
    height: 470px;
}

#Servicios {
    color: #fff;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.consultoria, .entrenamiento {
    background: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    width: 500px;
    height: 270px;
    border-radius: 20px;
}

article a{
    background: var(--primary);
    padding: 10px 20px;
    color: var(--light);
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    border-radius: 8px;
}

.container-clientes {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    overflow: hidden;
}

#Contacto{
    margin: 0;
}

.contacto {
    margin-top: 80px;
}

.oficinas {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oficina-madrid, .oficina-lima {
    flex: 1;
    background: red;
    margin: 0 20px 0 20px;
    max-width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.oficina-madrid h3,.oficina-lima h3 {
    color: var(--primary);
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.oficina-madrid p, .oficina-lima p {
    color: black;
    margin: 0px 5px 0px 0px;
}

.oficinas button {
    background: var(--primary);
    border: none;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    margin-top: 5px;
}


footer {
    padding-top: 20px;
    background: var(--primary);
    width: 100%;
    height: 200px;
}

footer p {
    text-align: center;
    color: #fff;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.redes i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.redes i:hover {
    transform: scale(1.1);
    background: rgb(230, 230, 230);
    color: black;
}

.redes i:hover::after {
    color: black;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #fff;
}

.horizontal-list li {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.horizontal-list li:hover {
    color: rgb(44, 44, 44);
}

.icon-link i {
    color: var(--primary);
}

.icon-link:hover i {
    color: black;
}

.icon-link i {
    transition: color 0.15s ease;
}

.icon-link {
    border-radius: 50%;
}

@media (max-width: 800px) {
    .oficinas {
        flex-direction: column;
        height: 800px;
        width: 100%;
    }

    .oficina-madrid, .oficina-lima {
        flex: 1;
        background: red;
        width: 700px;
    }

    .cards {
        flex: 2;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .container-nuestros-servicios {
        height: 100%;
    }
}