@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #1663df;
    --secondary: #1d79f3;
    --tertiary: #1a468e;
    --light: #eef8ff;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100%;
    background: var(--light);
    display: flex;
    flex-direction: column;
}



section.imagen {
    background-image: url(images/consultoria-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
    z-index: -2;
}

section.imagen-consultoria {
    background-image: url(images/consultoria-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
    z-index: -2;
}

section.nuestra-metodologia {
    display: flex;
    justify-content: center;
}

.texto-imagen {
    position: absolute;
    right: 40px;
    top: 50%;
}

.imagen-consultoria .texto-imagen h1, .imagen .texto-imagen h1 {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    text-align: right;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 2px 2px 1px black;
}

.imagen-consultoria .texto-imagen, .imagen .texto-imagen p {
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: bold;
    padding-left: 20px;
    text-shadow: 3px 3px 1px black;
    font-size: 25px;
}


header {
    position: fixed;
    background: var(--primary);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    transition: 0.7s;
    z-index: 10;
}

header.abajo {
    background: #fff;
    border-bottom: gray 1px solid;
    height: 60px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) ;
}

header.abajo .logo, header.abajo .nav-link{
    color: black;
    transition: 0.3s;
}

header.abajo .nav-link:hover {
    color: var(--primary);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s;
}

.sidebar ul {
    margin-top: 0;
    width: 100%;
    padding-inline-start: 0px;

}

.sidebar a {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.menu-button {
    display: none;
}

.sidebar a:hover {
    background: #fff;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

nav ul {
    list-style: none;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--light);
    color: #1663df;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link {
    margin-right: 25px;
    color: var(--light);
    color: var(--tertiary);
    font-weight: 600;
    letter-spacing: 2px;
    
}

.nav-link:hover {
    color: var(--primary);
}

a {
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.container-quienes-somos, .container-por-que-elegirnos, .container-nuestra-metodologia {
    max-width: 1120px;
}

.container-quienes-somos p, .container-por-que-elegirnos p {
    font-size: 20px;
    line-height: 30px;
}

section.quienes-somos, section.por-que-elegirnos {
    display: flex;
    justify-content: center;
    margin: 0px 10px 70px 10px;
}

#Somos, #Servicios, #Contacto, #Clientes, #Elegirnos, #Metodologia, #Expertos {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 70px;
    margin-top: 0px;
}

#Clientes, #Contacto {
    padding-bottom: 50px;
}

.container-quienes-somos h3, .container-por-que-elegirnos h3 {
    text-align: center;
    font-size: 25px;
}

section.nuestros-servicios, section.nuestra-metologia, section.nuestros-expertos {
    max-height: 100%;
}

.consultoria p {
    margin: 0;
}

section.nuestros-clientes {
    padding: 0px 10px 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nuestra-metodologia {
    overflow: hidden; /* Asegura que el contenedor incluya los bordes */
            padding: 0 40px 40px;
}

.container-nuestra-metodologia {
    max-width: 100%;
    margin: 0 auto;
}

.container-nuestra-metodologia img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.metodologia {
    margin: 10px;
    height: 800px;
}

.metodologia img {
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    max-height: 800px;
    background-size: cover;
}

.container-nuestros-servicios, .container-nuestra-metodologia {
    background: var(--tertiary);
    padding: 0px 10px 70px 10px;
    height: 100%;
}

.container-nuestros-expertos {
    padding: 0px 10px 70px 10px;
    height: 100%;
}

.nuestros-expertos {
    background: var(--primary);
    width: 100%;
}

.nuestra-metodologia {
    background: var(--tertiary);
    width: 100%;
}

article.metodologia {
    width: 75vw;
}

#Servicios, #Metodologia, #Expertos {
    color: #fff;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
}

.consultoria, .entrenamiento {
    background: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.container-nuestros-expertos .cards .consultoria {
    height: 400px;
}

.consultoria h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

article.consultoria a:hover {
    background: black;
}

article.consultoria a {
    bottom: 0;
}

section.contacto {
    margin-bottom: 80px;
}

.info-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;   
}

.email {
    background: var(--secondary);
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.email:hover {
    background: black;
}

strong.numero {
    color: var(--tertiary);
    font-size: 30px;
    margin-bottom: 10px;
}

strong.numero:hover {
    color: var(--primary);
}

.mapa {
    background: var(--primary);
    padding: 4px 4px 0px 4px;
}

.info-contacto h3 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
}

.info-contacto p {
    font-size: 20px;
}


article a{
    background: var(--primary);
    padding: 10px 20px;
    color: var(--light);
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    border-radius: 8px;
}

article.entrenamiento button {
    background: var(--primary);
    padding: 10px 20px;
    color: var(--light);
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    border-radius: 8px;
    font-family: inherit;
    border: none;
}

.container-clientes {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    overflow: hidden;
}

#Contacto{
    margin: 0;
}

footer {
    padding-top: 20px;
    background: var(--primary);
    width: 100%;
    height: 200px;
}

footer p {
    text-align: center;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.redes i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.redes i:hover {
    transform: scale(1.1);
    background: rgb(230, 230, 230);
    color: black;
}

.redes i:hover::after {
    color: black;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.horizontal-list li {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.horizontal-list li:hover {
    color: rgb(44, 44, 44);
}

.icon-link i {
    color: var(--primary);
}

.icon-link:hover i {
    color: black;
}

.icon-link i {
    transition: color 0.15s ease;
}

.icon-link {
    border-radius: 50%;
}

@media (max-width: 810px) {


    .menu-button {
        display: block;
    }

    .hideOnMobile {
        display: none;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        flex-wrap: wrap;
    } 



    .container-nuestros-servicios, .container-nuestra-metodologia, .container-nuestros-expertos {
        height: 100%;
    }
}

@media (max-width:840px) {
    iframe {
        width: 600px;
        height: 450px;
    }
}

@media (max-width:640px) {
    iframe {
        width: 355px;
        height: 300px;
    }

    .consultoria, .entrenamiento {
        width: 335px;
    }
.horizontal-list li {
        width: 100px;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    
} 

.slide {
    padding-right: 80px;
}

.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.slider:before, .slider:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
}

.slider:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--light));
}


.slider:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--light));
}


.slider .slide-track {
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}



@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-animation: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}