@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #1663df;
    --secondary: #1d79f3;
    --tertiary: #1a468e;
    --light: #eef8ff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100%;
    background: var(--light);
    display: flex;
    flex-direction: column;
}



section.imagen {
    background-image: url(images/consultoria-1.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
    z-index: -2;
}

section.imagen-consultoria {
    background-image: url(images/consultoria-2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
    z-index: -2;
}

section.nuestra-metodologia {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texto-imagen {
    position: absolute;
    right: 5%;
    top: 50%;
}

.imagen-consultoria .texto-imagen h1, .imagen .texto-imagen h1 {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    text-align: right;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 2px 2px 1px black;
}




header {
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    transition: 0.7s;
    z-index: 10;
    color: var(--light);
    text-shadow: 1px 1px 0.01px black;
    text-transform: uppercase;
}

.card__title {
    color: var(--light);
}
p.card__description {
    color: var(--light);
    font-size: 18px;
    text-shadow: 1px 1px 0.01px black; font-weight: 500;
    line-height: 22px;
}

header.abajo {
    background: #fff;
    border-bottom: gray 1px solid;
    height: 60px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) ;
}

header.abajo .logo, header.abajo .nav-link{
    color: black;
    transition: 0.3s;
    text-shadow: none;
}

header.abajo .nav-link:hover {
    color: var(--primary);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.603);
    backdrop-filter: blur(1px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s;
    text-transform: uppercase;
}

.sidebar ul {
    margin-top: 0;
    width: 100%;
    padding-inline-start: 0px;

}

.sidebar a {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.menu-button {
    display: none;
}

.sidebar a:hover {
    background: #fff;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

nav ul {
    list-style: none;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--primary);
    margin-right: 10px;
    margin-left: 10px;
}

.logo img {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-link {
    margin-right: 25px;
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 2px;
    
}

.nav-link:hover {
    color: var(--tertiary);
}

.link-inicio {
    margin-right: 25px;
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 2px;
}

.link-inicio:hover {
    color: var(--tertiary);
}

a {
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.container-quienes-somos, .container-por-que-elegirnos {
    max-width: 1120px;
}

.container-nuestra-metodologia {
    width: 100%;
}

section.por-que-elegirnos {
    display: flex;
    justify-content: center;
    margin: 0px 10px 70px 10px;
}

section.quienes-somos {
    display: flex;
    justify-content: center;
    margin: 0px 10px 30px 10px;
}

section.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px 70px 40px;
    background: var(--tertiary);
}

#Somos, #Servicios, #Contacto, #Clientes, #Elegirnos, #Metodologia, #Expertos, #Info {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 70px;
    margin-top: 0px;
}

#Clientes, #Contacto {
    padding-bottom: 50px;
}

.container-quienes-somos h3, .container-por-que-elegirnos h3 {
    text-align: center;
    font-size: 25px;
}

section.nuestros-servicios, section.nuestra-metologia, section.nuestros-expertos {
    max-height: 100%;
}

.consultoria p {
    margin: 0;
}

section.nuestros-clientes {
    padding: 0px 10px 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animated-cards, .animated-cards-inicio {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px 20px 70px 20px;
}

.animated-cards-inicio {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARDS */

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 65%;
  padding: 5% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
  transition: transform 500ms ease-out, opacity 500ms ease-;
}


.card__content--container {
  --flow-space: 1rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--primary);
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }


  .card__content--container > :not(.card__title) {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}


.nuestra-metodologia {
    overflow: hidden;
}

.container-nuestra-metodologia {
    max-width: 100%;
    margin: 0 auto;
}

.container-nuestra-metodologia p, .info > p {
    color: var(--light);
    font-weight: 600;
    text-shadow: 1px 1px 5px black;
}

.container-info {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    flex-wrap: wrap;
    background: var(--secondary);
    padding: 40px 40px 70px 40px;
}

.gobierno-estrategico, .gestion-ti {
    display: flex;
    flex-direction: column;
    background: var(--light);
    max-width: 600px;
    padding: 15px 0px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.gobierno-estrategico h2, .gestion-ti h2 {
    padding-top: 20px;
    text-align: center;
}

.gobierno-estrategico p, .gestion-ti p {
    font-size: 18px;
}

.container-nuestra-metodologia h3, #Info {
    color: var(--light);
}

.metodologia {
    margin: 10px;
    height: 800px;
}

.metodologia img {
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    max-height: 800px;
    background-size: cover;
}

.container-nuestros-servicios {
    background: var(--tertiary);
    padding: 0px 10px 70px 10px;
    height: 100%;
}

section.acordeon {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--light);
}

.contenedor-acordeon {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}

.contenedor-acordeon h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}

.acordeon {
    background: white;
}

.acordeon label {
    display: flex;
    padding: 20px;
    font-size: 20px;
    background: var(--secondary);
    color: white;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.acordeon .contenido-acordeon {
    padding: 0px;
    margin: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-acordeon:checked ~ .contenido-acordeon {
    max-height: 600px;
    padding: 15px 0px;
}

.btn-acordeon:checked ~ label {
    background: var(--tertiary);
}

.btn-acordeon {
    display: none;

}

@media screen and (max-width:900px) {

    .contenedor-acordeon {
        width: 90%;
    }
}

.container-nuestra-metodologia {
    padding: 0 40px 0 40px;
}

.tipos-metodologia {
    background: var(--secondary);
    width: 100%;
    height: 100%;
    padding: 0 40px 0 40px;
    color: var(--light);
}

.tipos {
    width: 100%;
    height: 100%;
    padding: 0 40px 0 40px;
    background: var(--light);
}

.cuadro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro-comparativo {
    display: flex;
    justify-content: start;
    border-radius: 20px;
    max-width:  1000px;
    overflow-x: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
}

table {
    min-width: 1000px;
}

.container-nuestros-expertos {
    padding: 0px 10px 70px 10px;
    height: 100%;
}

.nuestros-expertos {
    background: var(--primary);
    width: 100%;
}

.nuestra-metodologia {
    background: var(--tertiary);
    width: 100%;
}

#Servicios, #Metodologia, #Expertos {
    color: #fff;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
}

.consultoria, .entrenamiento {
    background: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.container-nuestros-expertos .cards .consultoria {
    height: 400px;
}

.consultoria h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

article.consultoria a:hover {
    background: black;
}

article.consultoria a {
    bottom: 0;
}

section.contacto {
    margin-bottom: 80px;
}

.info-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;   
}

strong.numero {
    color: var(--tertiary);
    font-size: 30px;
    margin-bottom: 10px;
}

strong.numero:hover {
    color: var(--primary);
}

.mapa {
    background: var(--primary);
    padding: 4px 4px 0px 4px;
}

.info-contacto h3 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
}

.info-contacto p {
    font-size: 20px;
}


article a{
    background: var(--primary);
    padding: 10px 20px;
    color: var(--light);
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    border-radius: 8px;
}

article.entrenamiento button {
    background: var(--primary);
    padding: 10px 20px;
    color: var(--light);
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    border-radius: 8px;
    font-family: inherit;
    border: none;
}

.container-clientes {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    overflow: hidden;
}

#Contacto{
    margin: 0;
}

.botones-contacto {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 0 20px 0px;
}

.botones-contacto a button {
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background: var(--primary);
    color: var(--light);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.botones-contacto a {
    border-radius: 20px;
}

.botones-contacto a:nth-child(1) button:hover, .botones-contacto a:nth-child(3) button:hover  {
    background: black;
}

.botones-contacto a:nth-child(2) button:hover {
    background: #25D366;
}

.botones-contacto a i {
    padding-right: 5px;
}

footer {
    padding-top: 20px;
    background: var(--primary);
    width: 100%;
    height: 250px;
}

footer p {
    text-align: center;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.redes i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.redes i:hover {
    transform: scale(1.1);
    background: rgb(230, 230, 230);
    color: black;
}

.redes i:hover::after {
    color: black;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.horizontal-list li {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.horizontal-list li:hover {
    color: rgb(44, 44, 44);
}

.icon-link i {
    color: var(--primary);
}

.icon-link:hover i {
    color: black;
}

.icon-link i {
    transition: color 0.15s ease;
}

.icon-link {
    border-radius: 50%;
}

@media (max-width: 1100px) {

    .cuadro-comparativo {
        overflow-x: auto;
    }

}

@media (max-width: 960px) {

    .menu-button {
        display: block;
    }

    .hideOnMobile {
        display: none;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        flex-wrap: wrap;
    } 

    .container-nuestros-servicios, .container-nuestra-metodologia, .container-nuestros-expertos {
        height: 100%;
    }
}

@media (max-width:840px) {
    iframe {
        width: 600px;
        height: 450px;
    }
}

@media (max-width:640px) {
    iframe {
        width: 355px;
        height: 300px;
    }

    .consultoria, .entrenamiento {
        width: 335px;
    }
    
    .horizontal-list li {
        width: 100px;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    .botones-contacto {
        flex-direction: column;
        height: 150px;
    }
    
} 

.slide {
    padding-right: 80px;
}

.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.slider:before, .slider:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
}

.slider:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--light));
}


.slider:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--light));
}


.slider .slide-track {
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}



@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-animation: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}



.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    background: var(--light);
}

th, td {
    padding: 15px;
    color: #000000;
}

th {
    text-align: left;
}

thead {
    z-index: 1;
}

tbody tr:hover {
    background-color: rgba(22, 99, 223, 0.3);
}

tr:nth-child(2), tr:nth-child(4), tr:nth-child(6), tr:nth-child(8) {
    background: #f5f5f5;
}

tr:nth-child(1), tr:nth-child(3), tr:nth-child(5), tr:nth-child(7) {
    background: #ffffff;
}

thead th, tr td:nth-child(1) {
    background: #212529;
    color: var(--light);
}

thead tr th:nth-child(1) {
    background: var(--light);
}

table {
    width: 100%;
    border-radius: 20px;
}

tbody tr:nth-child(1) td:nth-child(1), thead tr th:nth-child(2), tbody tr:nth-child(1) {
    border-top-left-radius: 20px;
}


.imagen-consultoria .texto-imagen, .imagen .texto-imagen p {
    color: #fff;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 1px black;
    font-size: 25px;
}

p {
    font-size: 20px;
}

.tipos h3 {
    font-size: 20px;
}




#slider {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
  }
  
  #contenedor {
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    animation-name: mover;
    animation-duration: 50s;
    width: 100%;
    animation-iteration-count: infinite;
  }
  
  #imagen1 {
    position: relative;
    background: url("images/consultoria-1.webp");
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center top;
  }
  
  #imagen2 {
    position: relative;
    background: url("images/consultoria-2.webp");
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center top;
  }
  
  #imagen3 {
    position: relative;
    background: url("images/consultoria-3.webp");
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center top;
  }
  
  #imagen4 {
    position: relative;
    background: url("images/consultoria-4.webp");
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center top;
  }

  #imagen5 {
    position: relative;
    background: url("images/consultoria-5.webp");
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center top;
  }

  #imagen6 {
    position: relative;
    background: url("images/consultoria-6.webp");
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center top;
  }

  #imagen7 {
    position: relative;
    background: url("images/consultoria-7.webp");
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center top;
  }

  #imagen8 {
    position: relative;
    background: url("images/consultoria-8.webp");
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center top;
  }

  /* .fondo-slider {
    position: absolute;
    background: linear-gradient(green, blue);
    width: 100%;
    height: calc(100vh - 80px);
    opacity: 0.7;
  } */
  
#imagen1 h2, #imagen2 h2, #imagen3 h2, #imagen4 h2, #imagen5 h2, #imagen6 h2, #imagen7 h2, #imagen8 h2 {
    position: relative;
    right: 10px;
    margin: auto;
    top: 40%;
    color: white;
    text-align: right;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 2px 2px 1px black;
  }
  
  #imagen1 p, #imagen2 p, #imagen3 p, #imagen4 p, #imagen5 p, #imagen6 p, #imagen7 p, #imagen8 p {
    position: relative;
    right: 10px;
    margin: auto;
    top: 40%;
    color: white;
    text-align: right;
    font-weight: bold;
    text-shadow: 3px 3px 1px black;
    font-size: 25px;
  }
  
  @keyframes mover {
    14.3% {
      margin-left: 0%;
    }
    18.3% {
      margin-left: -100%;
    }
    
    28.6% {
      margin-left: -100%
    }
    32.6% {
      margin-left: -200%;
    }
   
    42.9% {
      margin-left: -200%;
    }
    46.9% {
      margin-left: -300%;
    }
    
    57.2% {
      margin-left: -300%;
    }
    61.2% {
      margin-left: -200%;
    }
    
    71.5% {
      margin-left: -200%;
    }
    75.5% {
      margin-left: -100%;
    }
    
    85.8% {
      margin-left: -100%;
    }
    89.8% {
      margin-left: 0%;
    }
    
    100% {
      margin-left: 0%
    }
  }